.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.addTask {
  height: 13vw;
  background: dodgerblue;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskList {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.task {
  width: 500px;
  height: 50px;
  display: flex;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.task button {
  width: auto;
  height: 2vw;
  margin-left: 20px;
  text-align: center;
}

.addTask input {
  height : 2vw;
  width : auto;
  font-size: 200%;
  margin-right: 25px;
}

.addTask button {
  height : 2.25vw;
  width : auto;
  font-size: 200%;
  margin-right: 25px;
  text-align: center;
  font-weight: bold;
}